page-profile {
    .social-cards ion-col {
        padding: 0;
      }

     .justify{
        font-size: 1em;
        text-align: justify;
      }
      .cards {
          border: 1px solid rgb(112, 67, 8);
      }
      .txtPos{
        text-align: center;
    }
}
