
<ion-header>

  <ion-navbar>
    <ion-title>setCycling</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding="true">
  <div #map id="map"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block  type="button" icon-left (click)="startCycling()">
          <ion-icon name="arrow-dropup-circle"></ion-icon>
          Start Cycling
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block color="rosyBrown" type="button" icon-left (click)="endCycling()">
          <ion-icon name="arrow-dropdown-circle"></ion-icon>
          End Cycling
        </button>
      </ion-col>
    </ion-row>

    <ion-row  *ngFor="let activity of setActivity; let i=index">
      <ion-col *ngIf="hide">
        <ion-card>
          <ion-item>
            Congratulation You made below records
            <h2>Distance: {{activity.distance}} - Km </h2>
            <p>Total Time Taken:{{activity.timedelta}} </p>

            <p>You Start From:{{activity.startpoint}} </p>
            <p>You Finished To:{{activity.endpoint}} </p>
          </ion-item>

          <ion-row>
            <ion-col>
                <p>Wanna Chalange your friends, click this button </p>
              <button ion-button color="secodary" full block (click)="shareActivity(activity,i)">
                <ion-icon name='share'></ion-icon>  Share It
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      </ion-row>



  </ion-grid>

</ion-content>


<ion-footer class="txtPos">
  <ion-toolbar>
    <ion-title>
      <button color="gohstWhite" ion-button clear (click)="goToRootAgain()"> Back</button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
