page-user-management {
    .txtPos{
        text-align: center;
    }


    .uManag {
		position: relative;
		
		margin-top: 5rem;
    
	
    }
   
    .uManag button{
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        margin-top: 2rem; 
    }
   
	
	

}
